[submodule "primitive"]
	path = primitive
	url = https://github.com/andrewthad/primitive
[submodule "primitive-checked"]
	path = primitive-checked
	url = https://github.com/andrewthad/primitive-checked
[submodule "contiguous"]
	path = contiguous
	url = https://github.com/andrewthad/contiguous.git
[submodule "primitive-sort"]
	path = primitive-sort
	url = https://github.com/andrewthad/primitive-sort.git
